<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>kagami</string>
	<key>CFBundleDisplayName</key>
	<string>kagami</string>
	<key>CFBundleIdentifier</key>
	<string>com.nyxnix.kagami</string>
	<key>CFBundleExecutable</key>
	<string>kagami</string>
	<key>CFBundleIconFile</key>
	<string>kagami</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>kagami mirrors your capture card's video.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>kagami plays your capture card's audio.</string>
</dict>
</plist>
